<% provide(:title, "About") %>
<h1>О нас</h1>
<p>
  Привет! Меня зовут Алексей Новиков. И этой мой сайт, посвященный тому, что я умею:
  ремонтировать компьютерную технику и кое-что еще.
  В своем багаже я имею 16-ти летный опыт работы сервисным инженером в крупных компаниях
</p>
<p>
  Однако, сейчас я решил поработать на себя и открыл компанию по ремонту компьютерной техники.
</p>