<% provide(:title, "О нас") %>
<h1>О нас</h1>
<p>
  В свое время мы столкнулись с продажей первой и покупкой второй квартиры. Набитые шишки, продажа ипотечной квартиры,
  покупка новой также в ипотеку и многое другое, что вылилось в этот небольшой проект, который, надеямся, ответит на многие вопросы
  при покупке недвижимости. Весь материал - это личный опыт и знания. Мы не продаем услуги, а просто информируем, что можно сделать.
  Вся представленная информация - не 100% инструкция к действию. Помните, что ВЫ САМИ несете всю ответственность за свои действия.
</p>
<p>

</p>