<% provide(:title, "Проверка покупателя") %>

<h1>Проверка покупателя</h1>

<p>Кто-то думает, что покупателя проверять не надо. Он платит
  деньги, так какая разница что будет дальше?</p>

<p>Но желательно действовать так же, как делают и <%= link_to "при проверке продавца.", checking_seller_path, {:class => 'me-3 py-2 text-dark'} %></u> Проверяйте по всем возможным направлениям. Риски при противозаконных
  действиях могут повлиять и на продавца.</p>
<p>Сделать это можно с помощью следующих сайтов</p>
<us>
  <div class="list-group list-group-flush">
    <a
      href="https://bankrot.fedresurs.ru/DebtorsSearch.aspx?attempt=2" class="list-group-item list-group-item-action">Проверка на банкротство</a>

    <a
      href="https://kad.arbitr.ru/" class="list-group-item list-group-item-action">Проверка на сайте арбитражных дел</a>

    <a
      href="http://services.fms.gov.ru/info-service.htm?sid=2000" class="list-group-item list-group-item-action">Проверка
      действительности российского паспорта</a>

    <a
      href="https://fssp.gov.ru/iss/ip" class="list-group-item list-group-item-action">Проверка на сайте судебных приставов</a>
  </div>
</us>

<p>
  Помните, что если покупатель берет ипотеку, то его проверит
  банк. И в этом случае Вы можете спать спокойно – если у банка не возникло
  вопросов, и клиенту одобрили ипотеку, то и Вам боятся нечего.

  Об использовании ипотеки можно почитать <u><%= link_to "здесь.", mortgage_path, {:class => 'me-3 py-2 text-dark'} %></u>
</p>

<p>
  При использовании в сделке материнского капитала или других
  социальных сертификатов помните, что деньги из ПФР (а именно они переводят
  деньги) могут перечисляться в течение месяца. Закладывайте этот срок в случае,
  если у Вас намечается зависимая сделка купли-продажи (покупаете себе другой
  объект).
</p>