<% provide(:title, "Проверка объекта") %>
<h1>Проверка объекта</h1>
<p>Вам понравился объект, договорились по цене с продавцом,
  настало время проверить объект и продавца. Эта страница о проверке объекта
  недвижимости.</p>

<p>Некоторые банки предлагают эту проверку как услугу за
  отдельную плату, однако они все равно ее делают, заплатите Вы за нее или нет,
  т.к. банк не будет брать проблемный объект себе в залог. </p>

<p>Поэтому если Вы покупаете квартиру в ипотеку – можете пропустить
  этот шаг, за Вас все сделает банк. </p>

<p>Если Вы приобретаете недвижимость самостоятельно без участия
  банка, или Вы не доверяете банку в этих отношениях, то можете произвести эти
  операции самостоятельно.</p>
<us>
  <li>Во-первых, понадобиться <b>свидетельство о государственной регистрации права</b> (право
    собственности). Если право собственности было зарегистрировано до 1998 года
    (включительно), либо после 15 июля 2016 года, то этого документа может не быть,
    тогда будет достаточно <b>выписки из ЕГРН. </b>Заказать
    ее можно самостоятельно в интернете, либо через МФЦ. Необходимо знать
    кадастровый номер недвижимости.
  </li>

  <li>Там отражено кто является собственником
    недвижимости, а также находится ли недвижимость в залоге и есть ли ограничения
    не регистрационные действия.
  </li>

  <li>Во-вторых, копии <b>правоустанавливающих документов</b>. То есть договор купли-продажи,
    мены, дарения, приватизации и другие документы, которые доказывают легитимность
    приобретения данной недвижимости текущим собственником.
  </li>

  <li>В третьих, <b>документы
    кадастрового учета объекта недвижимости</b>. Это технический паспорт БТИ,
    кадастровые паспорта, кадастровый план на земельный участок (если покупаете
    землю или дом с землей) и прочее.
  </li>

  <li>В четвертых, если владельцами являются несовершеннолетние
    дети, то необходимо разрешение органов опеки и попечительства на продажу
    объекта. Если его нет, то подготовка этих документов может длиться очень долго
    (до полугода).
  </li>

  <li>Согласие супруги(а), если объект недвижимости принадлежит кому-то одному из них, но был куплен в
    браке. Это также может быть отражено в брачном контракте. Проверяйте этот
    аспект, чтобы потом кто-то из них не подал в суд на признание сделки
    недействительной.
  </li>
</us>
<p></p>
<p>Если эти документы в порядке и
  продавец тоже не вызывает сомнений, и вы выходите на сделку, то потребуйте от
  продавца следующие документы:
</p>
<p></p>
<us>
  <li>Справку о зарегистрированных лицах. К моменту
    сделки в квартире не должно быть никого прописано. Выписать их можно будет
    только через суд. Справка действительна месяц, так что имейте это ввиду.</li>

  <li>Справка об отсутствии задолженностей по ЖКХ,
    капремонту и пр. Если долги есть, то квартиру Вы покупаете вместе с ними. И
    если коммунальные долги потом можно возместить через суд, но это будет проблемно,
    то вот капремонт висит не на физлице, а квартире и если долг есть, то платить
    его в любом случае собственнику. </li>
</us>
