<% provide(:title, "Проверка продавца") %>
<% keywords 'Как проверить продавца перед покупкой квартиры?' %>
<% description 'Как проверить продавца перед покупкой квартиры? Банкроство, арбитраж, судебные приставы, документы' %>
<h1>Проверка продавца</h1>

<p>Параллельно с проверкой объекта стоит проверять и
  собственника недвижимости. Если собственников несколько, то проверять
  необходимо всех!</p>

<p>Сделать это можно с помощью следующих сайтов</p>
<us>
  <div class="list-group list-group-flush">
    <a
      href="https://bankrot.fedresurs.ru/DebtorsSearch.aspx?attempt=2" class="list-group-item list-group-item-action ">Проверка на банкротство</a>

    <a
      href="https://kad.arbitr.ru/" class="list-group-item list-group-item-action">Проверка на сайте арбитражных дел</a>

    <a
      href="http://services.fms.gov.ru/info-service.htm?sid=2000" class="list-group-item list-group-item-action">Проверка
      действительности российского паспорта</a>

    <a
      href="https://fssp.gov.ru/iss/ip" class="list-group-item list-group-item-action">Проверка на сайте судебных приставов</a>
  </div>
</us>
<h1>Теперь о каждом пункте подробнее.</h1>

<h3>Проверка на банкротство</h3>

<p>Обязательно необходимо проверять, не является ли собственник
  банкротом. На самом деле если он уже признан банкротом и данная недвижимость
  осталась после раздачи долгов, то сделку купли-продажи провести можно. В
  ближайшее время его не смогут снова признать банкротом, но, согласитесь, если
  человек уже кого-то обманул, то где гарантия, что он не сможет это провернуть и
  с Вами?</p>

<h3>Проверка на сайте арбитражных дел</h3>

<p>Необходимо проверить, не открыто ли в отношении собственника
  каких-либо дел, в том числе дело о признании его банкротом. Если человек в
  данный момент находиться в стадии банкротства, то сделку можно проводить только
  с финансовым управляющим, назначенным судом. Сделки, проведенные без его
  участия, будут признаны недействительными, и в этом случае Вы можете потерять и
  деньги и недвижимость.</p>

<p>Также при заключении предварительного договора купли-продажи
  обязательно включайте пункт о том, что собственник не является банкротом и в
  ближайшие три года не собирается признавать себя банкротом. Это убережет Ваши
  нервы, деньги и недвижимость.</p>

<h3>Проверка действительности российского паспорта</h3>

<p>Проверяем, что паспорт действителен, существует, не украден
  и прочее. </p>

<h3>Проверка на сайте судебных приставов</h3>

<p>Проверяем, есть ли у собственника какие-либо долги. Это
  могут быть и долги по ЖКХ и прочие про кредитам, займам, штрафам. В случае если
  их много, могут реализовывать имущество и смотреть все сделки с ним. Если
  недвижимость была приобретена ниже рыночной стоимости, могут признать сделку недействительной,
  и есть шанс, что Вы потеряете и деньги и недвижимость.</p>