<% provide(:title, "Показ объекта") %>
<% keywords 'Как показывать квартиру покупателям?' %>
<% description 'Как правильно показать квартиру покупателю. Как подготовиться и что рассказывать.' %>
<h1>Показ объекта</h1>

<h3>Когда
  показывать?</h3>

<p>Время показа,
  конечно, выбирать Вам. Его можно указать в объявлении.</p>

<p>
  Показывайте
  квартиру, по возможности, в светлое время суток. Сама квартира или дом в это
  время кажется уютнее. Обычное человеческое восприятие.
</p>

<p>
  Если Вам
  позвонили и согласовали время – то не переносите просмотр. Это не в Ваших
  интересах.
</p>

<h3>
  Что показывать?
</h3>

<p>
  Показывайте
  все, рассказывайте и объясняйте. Подготовьтесь к вопросам.
  Когда делали
  ремонт, когда меняли счетчики, сколько платите за ЖКХ, какие соседи. Все это
  влияет на конечное решение.
</p>

<p>
  Конечно, не
  стоит говорить, что в квартире кто-то умер (во всех квартирах это может быть)
  или жаловаться на шумных соседей. Кто-то этого может не замечать, кого-то будет
  раздражать даже шорканье тапочек по полу. Люди сами увидят недостатки, если захотят.
</p>

<p>Но при прямых
  вопросах не стоит лукавить. Ложь не приведет Вас к сделке. Поэтому и стоит поработать над возможными
  вопросами заранее. </p>

<h4>Что делать, если у покупателя риэлтор?</h4>

<p>
  Часто может
  быть, что покупатель приходит со своим риэлтором. Его задача – подобрать объект
  клиенту и по возможности сбить цену. И вот здесь стоит вспомнить о собственной
  оценке и за сколько Вы готовы продать недвижимость. Торг есть всегда. И, как
  правило, продавец всегда немного скидывает цену. Это нормально. Кто-то
  изначально чуть завышает цену на эту скидку, кто-то нет.
</p>

<p>
  Но однозначно
  не стоит падать в цене сильнее, чем адекватная стоимость. Работа риэлтора по
  возможности сбить цену, но ему всегда заранее озвучивают цену, за которую
  готовы купить. Кто-то ставит комиссию на процент от полученной скидки. Так что
  это нормально.
</p>

<p>
  А вот что не
  нормально, так это если риэлтор будет требовать с Вас деньги за якобы оказанную
  услугу по продаже Вашей недвижимости. Тут стоит напомнить, что договорных
  отношений у Вас с ним нет. Ушлые риэлторы могут запугать или давить. В таком
  случае записывайте разговор и обращайтесь в полицию. Риэлторы в данном случае пытаются заработать
  двойную комиссию – и с покупателя и с продавца.
</p>