<h1>Подбор объекта</h1>

<p>Выбор места будущего места жительства сугубо индивидуальный.
  Тот или иной район, квартал либо улица - уникален.</p>

<p>Если Ваша цель – временное жилье (не более 5 лет), то
  выбирайте то, что потом будет выгодно продать. </p>

<p>По возможности избегайте откровенно старых домов, такие,
  во-первых, требуют ухода и вложений, а во-вторых в дальнейшем будет сложнее
  продать.</p>

<p>Квартиры в новостройках, если не брать в расчет покупку
  строящегося жилья, это риск жить несколько лет в режиме ремонта. Свой Вы можете
  сделать быстро, а вот соседи вокруг могут затянуть ремонт на долгие годы. Плюс
  дом дает усадку и идеально уложенная плитка или отштукатуренные стены могут
  дать трещины. Не всегда и не все, но это стоит учитывать.</p>

<h1>Осмотр объекта</h1>

<p>После того, как Вы подобрали одно или несколько предложений
  о продаже наступает время осмотра. </p>

<p>Договаривайтесь об осмотре так, чтобы он проходил в дневное
  время, и на улице было еще светло. В
  летнее время это вечер будних дней, либо выходные. </p>

<p>Это необходимо, чтобы увидеть, что у Вас будет за окном.
  Бывают случаи, что по фото не понятно, район для Вас новый и из окон будет
  видно, например, помойку или кладбище. На это можно сделать попросить уступить
  в цене, если Вам это особо не мешает. Дополнительно днем можно оценить уровень
  шума в квартире.</p>

<h3>Куда смотреть?</h3>

<p><b>Полы.</b></p>

<p>Если это линолеум – смотрите на его ровность. Обычно на нем
  видно все неровности пола и в дальнейшем, если Вы захотите укладывать плитку, ламинат, либо паркет выравнивание пола может обойтись вам в
  порядочную сумму.</p>

<p>Если ламинат или паркет – смотрите
  на его качество. Обычно лет через 5 на стыках дешевых досок видно вспучивание.
  Это происходит от неправильного ухода за полом и показывает его дешевизну.
  Дорогой ламинат и паркет служит дольше. Если полы не ровные – он будет играть. Стоит
  пройтись по всей поверхности и все оценить. Ваша мебель может стоять не так,
  как у нынешних хозяев и полы могут играть сильнее. Если это происходит в
  потенциально проходном месте – то в будущем там может образоваться яма, на
  поверхность будет выходить пыль и прочее. На этом можно попросить скидку.</p>

<p>Если при входе в квартиру и на кухне в зоне готовки лежит ламинат либо паркет, уточните,
  обработаны ли герметиком швы досок. Это снизит риск вспучивания деревянных напольных изделий при попадании
  влаги.</p>

<p><b>Стены</b></p>

<p>Обои – это дело вкуса. Их всегда можно переклеить, если Вам
  не нравится цвет или дизайн. И продавец в этом не виноват, не пытайтесь просить
  скидку. Однако, если обои рваные, потертые, криво наклеены, либо их разрисовали
  дети, то на этом можно попросить скинуть цену.</p>

<p>Обратите внимание на ровность стен. Кривые стены не повод
  сильно сбрасывать цену, но скидку попросить можно. Но вот, например, трещины –
  это уже повод попросить серьезную скидку, либо вообще отказаться от покупки.</p>

<p>Бывает, что через 3, 5 и даже 10 лет после постройки дома он
  начинает давать усадку. И штукатурка, если на ней экономили при начальных этапах
  отделки, может отходить от стен. Стена может быть выпуклой. Проверить это
  достаточно легко. Достаточно просто легонько постучать. Вреда это не принесет,
  но выявить проблемы можно. Если квартира Вам в остальном нравиться, то на этом
  моменте можно прикинуть, сколько будет стоить
  отремонтировать стену. И на эту сумму просить скидку.</p>

<p><b>Потолок</b></p>

<p>Навесные, подвесные и прочие потолки – это все хорошо. За
  Вас все сделали и спрятали огрехи. </p>

<p>Если потолки кривые и не сделаны, то это тоже можно занести
  в минусы квартиры по итогу приводить как довод к снижению цены.</p>

<p><b>Трубы и батареи</b></p>

<p>Обратите внимание на трубы, которые находятся в мокрых
  зонах. Желательно, чтобы все трубы были пластиковыми, либо металлопластиковыми.
  Иначе в дальнейшем заботы по замене лягут на Ваши плечи. Металлические трубы
  даже в новостройках выдерживают не больше 5-10 лет. Неправильно подключенные
  водонагреватели и плохая вода быстро изнашивают металлические трубопровод. </p>

<p>Если трубы старые, то обратите внимание, как они спрятаны
  (если спрятаны). Если они закатаны в плитку, в дальнейшем эту плитку придется
  ломать. Пластиковые короба удобнее, они легко разбираются и меняются на новые. </p>

<p>На батареях смотрите, как они сделаны. В идеале должна быть перемычка и краны для возможности снятия
  батареи без отключения всего стояка. Краны, если они есть, должны свободно
  крутиться.</p>

<p>Смотрите, чтобы не было подтеков. Следов ржавчины, «грибков»
  (если труба прохудилась очень тонким отверстием, оно
  (отверстие) может себя заложить ржавчиной и содержимым труб). Если на трубах,
  батареях или полотенцесушителе есть заплатки, то,
  скорее всего, в ближайшее время трубу прорвет опять и есть риски затопить
  соседей.</p>

<p>Если топили СОСЕДИ, то на полотке будут видны потеки. Это
  может перерасти в плесень.</p>

<p ><b>Окна и двери</b></p>

<p>Хорошая квартира, как правило, начинается с хорошей двери.
  Если дверь легкая, значит она сделана из тонкого
  металла (хорошо, если это будет металл) и с плохой звукоизоляцией. Дешевые
  двери быстро вскрываются и плохо защищают от звуков из общего коридора.</p>

<p>Хорошие межкомнатные двери тоже придают цену квартире. Они
  останавливают звуки и запахи.</p>

<p>Сейчас делают дешевые двери покрытые пленкой. Внешне сложно
  отличить от дорогой двери, но здесь опять поможет ее вес. Если дверь легкая –
  то и качество у нее так себе.</p>

<p>Смотрите, как установлены двери –
  сбитые головки саморезов, либо лишние отверстия при
  крепеже дверей и косяков говорит о неопытности установщиков. Если все делала
  одна команда, то весь ремонт может оказаться таким.</p>

<p>Современные окна – это стеклопакеты. Пластик или дерево не
  важно. Важно как плавно они закрываются и открываются. Если осматриваете зимой –
  посмотрите, не дует ли из щелей. Настройка или замена окна в дальнейшем не
  дешевое удовольствие.</p>

<h3>Мебель и техника</h3>

<p><b>Кухня и шкафы</b></p>

<p>Как правило, оставляют кухню и встроенные шкафы, т.к. это
  сугубо индивидуальные вещи, которые могут быть смонтированы только в этой
  квартире. Эта мебель, как правило, уже заложена в стоимость квартиры и хозяева
  не будут делать скидку, если она Вам не нужна. Просить снизить цену можно
  только в откровенно плохой мебели, которая однозначно пойдет на помойку и
  старые хозяева просто хотят переложить эту работы на покупателя.</p>

<p><b>Котел</b></p>

<p>Если дом с автономным отоплением либо без центрального
  снабжения горячей водой, то обратите внимание на котел. Как работает отопление
  и как включается горячая вода. При сомнениях попросите документы, которые
  подтверждают ежегодное обслуживание оборудования. Поломка котла дело не дешевое,
  особенно если это случится в зимнее время.</p>

<p><b>Техника</b></p>

<p>Вся техника, которую оставляют, скорее всего, включена в
  стоимость. Следите, чтобы она была исправна и помните, что если в доме есть газовая
  плита, то ее должны оставить по закону. </p>

<p>Хозяева могут поставить другую плиту, но она должна быть!</p>

<p>Перечень оставляемой техники отражается в предварительном
  довогоре купли-продажи.</p>

<h3>Балконы и лоджии</h3>

<p>Застекленные и отделанные балконы и лоджии – повод повысить
  стоимость квартиры, однако, некоторые просят за площадь балкона или лоджии как
  за жилую площадь. Каждый конкретный случай индивидуальный и уже Вам решать,
  сколько Вы готовы отдать денег. Хорошо
  отделанная утепленная лоджия, переделанная в кабинет или цветник и захламленный
  вещами открытый балкон – это две большие разницы, как в
  цене, так и на деле.</p>

<h1>ИТОГО</h1>
<p>После окончания осмотра можно выделить <b>плюсы</b> и <b> минусы.</b></p>
<p><b>Плюсы</b></p>
<us>

  <li>Хороший, качественный ремонт.</li>

  <li>Дорогие двери и окна.</li>

  <li>Отделанная лоджия или балкон.</li>

  <li>Качественный кухонный гарнитур.</li>

  <li>Хорошая сантехника.</li>

  <li>Пластиковые трубы и сделанные батареи</li>

  <li>Хорошая мебель и техника.</li>
</us>

<p><b>Минусы</b></p>
<us>

  <li>Отсутствие ремонта</li>

  <li>Некачественные материалы</li>

  <li>Худые трубы</li>

  <li>Старые окна и не застекленный балкон\лоджия</li>

  <li>Трещины на стенах, потолке</li>

  <li>Отсутствие кухни\некачественная мебель</li>
</us>

<p>Понятно, что квартира с хорошим ремонтом будет стоить дороже, чем без него. Однако часто могут пускать пыль в глаза, и на первый взгляд хороший ремонт может обернуться для Вас глобальной переделкой. Если у Вас есть свое чувство прекрасного, то ищете для себя квартиры без ремонта от застройщиков, либо квартиры «после бабушек», где не было ремонта долгое время. Эти квартиры будут стоить дешевле, и Вы сможете сделать ремонт «под себя». Однако помните, что на это понадобятся деньги и время.  </p>

<p>Хороший и качественный ремонт сэкономит Вам время, и, в
  случае покупки в ипотеку этот ремонт можно заложить под процент ипотеки, чем
  брать потребительский кредит под ремонт.</p>

<p>Но все это дело вкуса, Ваших возможностей и средств.
  Помните, что выбор и окончательное принятие решений только за ВАМИ!</p>