<% provide(:title, "Ипотека") %>
<% keywords 'Что такое ипотека?' %>
<% description 'Ипотека. Как это работает, как сэкономить, как взять ипотеку. Почему ипотека - это хорошо.' %>
<h1>Ипотека</h1>
<p>
  Ипотека – узаконенное рабство.
</p>
<p>
  Не секрет, что ипотека, помимо зарабатывания денег банком, это еще и хороший способ
  привязать человека к месту: он более вдумчиво будет выбирать работу, не будет ходить
  на митинги и прочее, чтобы не потерять ту же самую работу, он, скорее всего, не переедет
  в другой город и многое, многое другое.
</p>
<p>
  Однако, квартиру или дом, даже если она в ипотеке можно продать.
  И этот аспект скептики вспоминать не любят. А ведь ипотека это зачастую
  единственный способ приобрести свое собственное жилье.
</p>
<p>Конечно, чтобы взять ипотеку необходимо:</p>

<ul class="list-group list-group-flush">
  <li  class="list-group-item">1. Первоначальный взнос</li>
  <li  class="list-group-item">2. Официальная работа</li>
  <li  class="list-group-item">3. Зарплата, позволяющая взять ипотеку</li>
</ul>

<p>
  Но, если у Вас со всем этим сложилось, то читайте ниже. Несколько советов и почему ипотека это хорошо.
</p>
<h1>Ипотека при покупке</h1>
<h3>Какой банк выбрать?</h3>
<p>
  И так. Вы решили взять ипотеку.  В какой банк обращаться и где брать?
</p>
<p>
  Сегодня существует множество банков с многочисленными программами.
  Выбирайте ту, которая Вам подходит. Где-то застройщик предлагает низкий
  процент у банка партнера, где-то сам банк предлагает программу для молодых
  семей или скидку, если Ваша организация является зарплатным проектом и так далее.
</p>
<p>
  Но на самом деле смотреть надо на размер ежемесячного платежа.
  В разных банках под одинаковый процент может быть разный платеж!
  В интернете есть кредитные и ипотечные калькуляторы (не банковские, а эталонные),
  благодаря которым можно отследить «честность» банков.
</p>
<p>
  Помимо этого у банков есть разные комиссии
  и требования к страхованию жизни. Объект по закону об
  ипотеке страхуется всегда. Комиссия за перевод, комиссия
  за справки, комиссия за то или иное. Это все доступно,
  стоит лишь внимательно изучить то или иное предложение.
</p>
<p>Где-то страхование жизни не требуют, и,
  это хоть и не большая, но все-таки ежемесячная
  экономия на платеже и на это тоже стоит смотреть.
</p>
<h3>Как сэкономить?</h3>
<p>
  Некоторые банки навязывают свои страховые компании.
  При этом у них есть аккредитованные компании, в которых
  можно сделать страхование жизни и объекта, однако, это
  может быть существенно дешевле (иногда в разы!), чем
  аналогичная услуга от банка. В открытую об этом не скажут,
  но на сайте или если спросить, что предоставят список аккредитованных компаний.
</p>
<p>
  Тоже самое с оценочными компаниями. Есть оценка от банка, если компании партнеры.
  Пару тысяч рублей можно сэкономить.
</p>
<p>
  Услуги электронной регистрации сделки купли-продажи.
</p>
<p>
  Некоторые банки предлагают провести электронную регистрацию и
  берут за это дополнительные деньги. Это освобождает Вас от похода
  в МФЦ, а в некоторых случаях банк может скинуть несколько десятых
  процентов с ипотечной ставки по кредиту. Переплатив сейчас лишние 3-4 тысячи,
  при разнице в ежемесячном платеже в 100-200 рублей в месяц при ипотеке в 15 лет
  это сэкономит Вам от 18 до 36 тысяч рублей.
</p>
<p>
  Схема выдачи ипотеки.
</p>
<p>
  Существует несколько схем – это и банковская ячейка, аккредитив, выдача после регистрации
  Каждый случай индивидуальный, все зависит от банка и от Ваших решений.
</p>
<h3>На какой срок брать?</h3>
<p>
  Не секрет, что при большом сроке кредита, а ипотека
  это такой же кредит, вырастает переплата.
</p>
<p>
  При маленьком сроке до 5 лет ежемесячный платеж будет большим.
  Да и, что скрывать, если есть возможность накопить на квартиру за 5 лет,
  то зачем брать ипотеку?
</p>
<p>
  Однако, при сроках больше 15 лет размер ежемесячного платежа
  уменьшается пропорционально мало. И платеж при 15 и 20 годах
  ипотеки может иметь разницу в 400 рублей в месяц. Уже не сильно
  большая разница, но переплата при этом будет в 25 тысяч рублей.
</p>
<p>
  Поэтому правильный ответ на вопрос «а на сколько брать?»
  будет таким – на столько, чтобы ежемесячный комфорт был комфортным.
  Чтобы оставались средства на остальную жизнь. Лучше не геройствовать
  и взять на подольше, а если доход семьи увеличиться, то дальше будет
  о том, как сэкономить на уже взятой ипотеке.
</p>
<h3>Как сэкономить при существующей ипотеке?</h3>
<p>
  Если появилась возможность платить больше – лучше платить досрочно.
  При этом, лучше всего сокращать срок. Даже 1 тысяча рублей в месяц
  заплаченная сверх платежа в начале срока может сэкономить Вам несколько тысяч рублей в будущем.
</p>
<p>
  Верните налог за квартиру!
</p>
<p>
  Если Вы еще не возвращали налог на имущество, самое время это сделать!
  Даже если вы купили квартиру под конец года, то Вам вернут процент за весь год,
  в который Вы приобрели недвижимость.
</p>
<p>
  Если Вы приобрели квартиру или дом в начале года, то можно оформить
  выплату в работодателя. И с Вас просто не будут удерживать подоходный
  налог. Не спешите тратить эту сумму на свои нужды! При действующей
  ипотеке это весомый вклад в основной долг.
</p>
<p>
  Вы можете вернуть 13% от стоимости жилья, но не более чем с 2 млн. рублей.
  То есть максимальная сумма, которую Вы можете вернуть – это 260 тысяч рублей.
  Налог возвращается с уплаченных Вами налогов, поэтому срок возврата зависит от
  Вашей зарплаты. Автор этого текста вернул сначала за год, а потом возвращал у
  работодателя ежемесячную сумму. Таким образом за 3 года «налоговые» 260 тысяч
  рублей сэкономили ему порядка 500 тысяч в дальнейшем.
</p>
<p>
  Поэтому не спешите покупать себе на «налоговые» деньги дорогие телефоны и вещи.
  Недвижимость важнее и Вы сами Себе скажите «Спасибо» в дальнейшем.
</p>
<p>
  Помимо налога на недвижимость после полной его выплаты можно вернуть
  налог с уплаченных банку процентов. Те же 13% от уплаченных процентов.
</p>
<p>
  Для этого необходимо взять справку об уплаченных процентах в банке и подать
  в налоговую службу, так же, как и в случае с налогом на недвижимость. В данном
  случае можно вернуть до 390 тысяч рублей. То есть верхняя граница уплаченных
  процентов ограничена 3 млн рублей.
</p>
<p>
  Учувствуйте в социальных программах.
</p>
<p>
  Материнский капитал, программа «Молодая семья» и прочие возможности поиметь
  денег с государства является отличным решением для  досрочного погашения ипотеки!
</p>
<p>
  Пользуйтесь всеми способами!
</p>
<h1>Ипотека при продаже</h1>
<p>
  Многие при продаже боятся связываться с ипотекой. Думают, что это долго.
  Однако, поиск покупателя с наличкой может занять даже в разы большее время.
</p>
<p>
  Деньги, как правило, поступают в течение нескольких дней после регистрации
  сделки, а сроки передачи ключей от недвижимости можно прописать в договоре купли-продажи.
</p>
<p>
  Трудности могут возникнуть, только если расчеты по сделке влияют на
  следующую сделку, но и тут можно всем обозначить сроки и позиции.
</p>
<h1>Почему ипотека это хорошо для всех?</h1>
<p>
  Ипотека – это очень удобный инструмент, как для покупателя, так и для продавца.
  Все участники сделки будут проверены банком, ровно, как и объект недвижимости.
  Некоторые банки пробуют продать дополнительную услугу «проверка объекта», однако
  не спешите платить за нее 10-20 тысяч рублей. Банк все равно сделает эту проверку.
  Заплатите Вы за нее или нет. Они не будут брать на свой баланс (а Вы передадите эту квартиру в залог
  банку) недвижимость, связанную с рисками.
</p>


