<% provide(:title, "Предварительный договор купли-продажи") %>
<h1>Предварительный договор купли-продажи</h1>
<p>
  На этом этапе все участники сделки взаимно проверены и пора
  «ударить по рукам».
</p>

<p>
  Этим «ударом» как раз служит предварительный договор
  купли-продажи (далее ДКП). В нем отображается сумма задатка (не путать с
  первоначальным взносом), все отношения - когда будут совершены те или иные
  действия (снятия с регистрации зарегистрированных, передача ключей, примерные
  даты сделки), будут описана вся техника и мебель, которая останется в квартире.
  На словах можно пообещать съехать или выписаться в течение месяца, а в итоге
  тянуть полгода. Или обещать оставить ту или иную технику, но при передаче
  ключей квартира будет с голыми стенами. Сейчас именно тот момент, где надо расставить
  все точки над i
</p>

<p>
  Дополнительно необходимо указать, что продавец не является
  банкротом, ему не известно о том, что в отношении его открыто дело о
  банкротстве, а также пункт о том, что он не признает себя банкротом в ближайшее
  время.
</p>

<p>
  Дело в том, что если человека признают банкротом, то для
  погашения его долгов пытаются продать его имущество, а также проверяют все
  сделки с недвижимостью, совершенные за последние 3 года. Если банкрот продал
  недвижимость ниже рыночной стоимости, то сделка будет признана недействительной
  на основании подозрительной и совершенной в целях ухода от долгов, и Вы можете
  потерять как уплаченные за нее деньги, так и недвижимость. А в случае, если
  недвижимость была приобретена в ипотеку и Вы не делали титульное страхование,
  то Вас заставят ее выплатить в полном объеме.
</p>
<p><u><%= link_to "Скачать шаблон предварительного договора купли-продажи", "https://disk.yandex.ru/i/tDWgKRENOS0G_A", {:class => 'me-3 py-2 text-dark'} %></u></p>
<p>
  После подписания предварительного ДКП при передаче задатка
  не забудьте написать и подписать расписку о передаче денег. Она послужит
  доказательством платежа и будет выполнять функцию «чека», если в дальнейшем Вы
  захотите вернуть имущественный вычет.
</p>
<p><u><%= link_to "Скачать шаблон расписки о получении задатка", "https://disk.yandex.ru/i/FjkN_u2lPQjvYw", {:class => 'me-3 py-2 text-dark'} %></u></p>
<p>
  Все денежные отношения лучше проводить электронно через банк
  или приложение банк-клиента.
</p>