<% provide(:title, "Подготовка к продаже") %>
<h1>Подготовка к продаже</h1>
<h3>
  Оцените свою недвижимость.
</h3>

<p>
  Оценочные компании берут 5 предложений в Вашем районе
  на похожие параметры – количество комнат, состояние, эта и прочее. И берут
  среднюю стоимость за квадрат. Пересчитывая на вашу площадь – это и будет та
  цена, от которой необходимо отталкиваться. Советы по подбору написаны в статье
  при покупке. Можете ознакомиться и сделать свои выводы. И помните одно правило:
  «На рынке всегда два дурака. Один – покупает, другой –
  продает».
</p>

<p>
  Не стоит думать о том, за сколько Вы ее покупали пару
  лет назад (или не пару, или не покупали даже) или сколько вы за нее хотите
  получить. Трезвая оценка стоимости прямой путь к продаже.
</p>

<p>
  Когда я свое время продавал свою квартиру, то ценник поставил,
  на мой взгляд, адекватный. Однако пока цена не была снижена до
  среднерыночной, мне даже не поступало звонков.
</p>

<h3>Предпродажная подготовка и фото</h3>

<p>
  Звучит страшно, но на деле все просто. Прежде чем
  фотографировать и выгладывать объявление – уберитесь в квартире. На фото не
  должно быть разбросанной одежды, грязной посуды, хлама. Впрочем, не только на
  фото. Во время показа квартиры потенциальным покупателям квартиры в ней должен
  быть поддержан порядок и чистота. Поверьте, человек ищет, где чище. Да и
  срабатывает триггер – если «снаружи» есть проблемы, то с внутренностями (проводка,
  трубы, общее состояние стен и пр.) дела обстоят еще хуже. В таком случае может
  спасти только низкая цена.
</p>

<p>
  Фото делайте так, чтобы было видно все. Каждую
  комнату следует снять с нескольких ракурсов, коридоры – с разных сторон.
  Сфотографируйте вид из окна, балкона\лоджии. Сделайте обзорную видео экскурсию
  по квартире. Многие площадки объявлений позволяют загружать в объявления видео.
  В крайнем случае, всегда такое видео можно отправить потенциальным покупателям
  через мессенджеры.
</p>

<p>
  Фотографии должны быть четкими, светлыми. Камер
  современного телефона вполне достаточно.
</p>

<p>
  Но не стоит и перегружать объявление. Не стоит
  добавлять одинаковые фото или делать больше 3 фото на одну комнату (конечно,
  если эта комната не больше 100 квадратных метров).
</p>

<p>
  В добавление к фото желательно приложить и планировку
  квартиры. Если нет плана БТИ, то можно нарисовать самим в редакторах или
  банально карандашом на бумаге (правда, в таком случае это приемлемо, если Ваши
  таланты действительно большие).
</p>

<h3>Описание</h3>

<p>
  Добавьте описание. Слова «уютная, светлая, просторная»
  и прочие употребляйте, если это действительно так. Если покупатель почувствует
  несоответствие фото и описания – этот просмотр так и окажется просмотром.
</p>

<p>
  Укажите расстояние до остановок общественного транспорта
  или метро. Расположение социальных объектов (детский сад, школа,
  больница).Для некоторых важно, чтобы
  это было рядом, других это может раздражать (например, детский сад под окнами
  это постоянный шум в будний день).
</p>

<p>
  Обилие магазинов, досуговых заведений тоже может
  сыграть Вам на руку. Укажите и это.
</p>

<p>
  Если Вы недавно сделали ремонт, то это можно
  расценивать как плюс.
</p>

<p>
  А вот такие объекты как заводы, заправочные стации
  будут скорее в минус. Указывать это или нет – Ваше дело.
</p>

<p>
  Если оставляете мебель, кухонный гарнитур или технику
  – то укажите это. Правда, если идете на этот шаг, то при совершении сделки
  указывайте это в договорах и действительно оставляйте. Бывали случаи, когда при
  передаче ключей в квартире не оставалось даже старых обоев и косяков, хотя
  предварительно на словах договаривались все оставить.
</p>

<p>
  Не забудьте добавить в объявление кадастровый номер.
  Так потенциальные покупатели смогут заранее проверить объект самостоятельно и
  не обременять Вас этим.
</p>

<h3>Размещение на площадках</h3>

<h4>Какую площадку выбрать?</h4>

<p>
  Выкладывайте везде, где только
  можете. Avito,
  Cian,
  Domofond,
  Domclick,
  Яндекс.Недвижимость и прочие площадки с объявлениями.
</p>

<p>
  Про Domclick
  стоит сказать отдельно. Если объявление есть на Domclick
  и квартира проверена, то покупатель при покупке через ипотеку получит небольшую
  скидку на процентную ставку. При прочих равных с конкурентными квартирами такая
  квартира может быть в приоритете.
</p>

<h4> Как
  избегать риэлторов?</h4>

<p>
  Настоящие риэлторы Вам никогда
  не позвонят сами. Помните, что если Вам звонят по объявлению и предлагают
  услуги по продаже Вашей квартиры, то Вы смело можете отказаться. Ваше
  объявление могут скопировать и выложить на все эти площадки. Бороться с этим
  можно и нужно. Необходимо подавать жалобу на такое объявление и администрация
  сайта такое объявление удалит после предоставления Вами документов,
  подтверждающих, что это действительно Ваша квартира.
</p>

<p>
  Если риэлтор хочет привести
  клиента – пускай приводит. За это платит покупатель, но не Вы. Этому посвящен
  отдельный абзац в следующей статье.
</p>

