<% provide(:title, "Покупка недвижимости") %>
<h1>Покупка недвижимости</h1>
<h2>Информация для тех, кто хочет самостоятельно купить себе недвижимость без услуг риэлтора.</h2>
<h3>Подбор объекта</h3>
<p>Подбор объекта Выбор места будущего места жительства сугубо индивидуальный. Тот или иной район, квартал либо улица - уникальна.</p>>