<% provide(:title, "Договор купли-продажи") %>
<h1>Договор купли-продажи недвижимости</h1>
<p>Финальная часть любой истории при покупке или продаже квартиры.</p>

<p>Если сделка проходит с использованием ипотеки, то ДКП
  подготовит банк, если сделку проводите без участия банка, то шаблон ДКП можно
  скачать <%= link_to "здесь.", "https://disk.yandex.ru/i/NALQjPvGq4V9sQ", {:class => 'text-decoration-underline me-3 py-2 text-dark'} %></p>

<p>Заполните и ознакомьтесь с договором. Лучше заранее все
  изучить, чтобы в день сделки не было сюрпризов. </p>

<p>Напоминаем, что все платежи желательно делать через банк,
  чтобы оставить цифровой след сделки. В любом случае, после передачи денег также
  необходимо подписать <%= link_to "расписку о передаче денег.", "https://disk.yandex.ru/i/IuaXijaAGmQG9g", {:class => 'text-decoration-underline me-3 py-2 text-dark'} %></p>

<p>Передача ключей, как правило, происходит после регистрации
  сделки в регистрационной палате. Однако на усмотрение
  продавца ключи могут быть переданы и раньше.</p>

<p>Эти моменты можно прописать в <%= link_to "предварительном ДКП.", pre_sales_contract_path, {:class => 'text-decoration-underline me-3 py-2 text-dark'} %></p>
<p>И, наконец, сделку необходимо зарегистрировать в регистрационной палате.
  Выбираете удобное МФЦ и идете на регистрацию. Записаться можно как на месте
  по живой очереди, так и через интернет (понадобиться привязанная учетная запись на госуслугах).
</p>
<p>
  Регистрация производиться в течение 7 рабочих дней.
</p>