<footer class="footer">
  <small>
    Разработка сайта: Алексей Новиков 2021
  </small>
  <nav>
    <ul>
      <li><%= link_to "О нас",   about_path %></li>
      <li><%= link_to "Контакты", contact_path %></li>
      <li><%= link_to "Главная", root_path %></li>

    </ul>
  </nav>
</footer>