<header class="navbar navbar-expand-lg navbar-fixed-top navbar-inverse">
<!--<header>-->
  <div class="nav navbar-nav navbar-left">
    <%= link_to "TEFLON-SERVICE", root_path, id: "logo" %>
  </div>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <nav>
      <div  class="nav navbar-nav navbar-right">
        <ul class="nav navbar-nav">
          <li class="nav-link"><%= link_to "Главная", root_path, {:class => 'me-3 py-2 text-light text-decoration-none'} %></li>
          <li class="nav-link"><%= link_to "Помощь", help_path, {:class => 'me-3 py-2 text-light text-decoration-none'} %></li>
          <li class="nav-link"><%= link_to "Log in", '#', {:class => 'me-3 py-2 text-light text-decoration-none'} %></li>
        </ul>
      </div>
    </nav>
  </div>


  </header>