<div class="container sticky-top">
  <header class="d-flex flex-wrap align-items-center justify-content-center bg-white justify-content-md-between py-3 mb-4 border-bottom border-top">
    <div>
    <a href="/" class="text-dark text-decoration-none navbar-brand">
        anti-realtor.ru
      </a>
    </div>

      <ul class="nav nav-pills justify-content-end">
        <li class="nav-item"><%= link_to "Главная", root_path, {:class => "nav-link px-2 text-dark"} %></li>
        <li class="nav-item"><%= link_to "Покупка недвижимости", purchase_path, {:class => "nav-link px-2 text-dark"} %></li>
        <li class="nav-item"><%= link_to "Продажа недвижимости", sale_path, {:class => "nav-link px-2 text-dark"} %></li>
<!--        <li class="nav-item"><%#= link_to "Аренда", rent_path, {:class => "nav-link px-2 text-dark"} %></li>-->
  <!--      <li class="nav-item"><a href="#" class="nav-link">About</a></li>-->
      </ul>
  </header>
</div>